@import "tailwindcss";

:root {
  --color-background: #f5f5f5;
  --color-foreground: #1e1e1e;
  --color-primary: #1e1e1e;
  --color-secondary: #6c6c6c;
  --color-tertiary: #d6d6d6;
  --color-content: #1f1f1f;
  --color-code-block-bg: #1c1d21;
  --color-code-bg: #f5f5f5;
  --color-border: #eeeeee;
}

.dark {
  --color-background: #1d1e20;
  --color-foreground: #dadadb;
  --color-primary: #dadadb;
  --color-secondary: #9b9c9d;
  --color-tertiary: #414244;
  --color-content: #c4c4c5;
  --color-code-block-bg: #2e2e33;
  --color-code-bg: #37383e;
  --color-border: #333333;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
