@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f5f5f5;
  --color-foreground: #1e1e1e;
  --color-primary: #1e1e1e;
  --color-secondary: #6c6c6c;
  --color-tertiary: #d6d6d6;
  --color-content: #1f1f1f;
  --color-card: #ffffff;
  --color-border: #eeeeee;
  --color-code-block-bg: #1c1d21;
  --color-code-bg: #f5f5f5;
  --color-muted: #d6d6d6;
}

.dark {
  --color-background: #1d1e20;
  --color-foreground: #dadadb;
  --color-primary: #dadadb;
  --color-secondary: #9b9c9d;
  --color-tertiary: #414244;
  --color-content: #c4c4c5;
  --color-card: #2e2e33;
  --color-border: #333333;
  --color-code-block-bg: #2e2e33;
  --color-code-bg: #37383e;
  --color-muted: #787878;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  --header-height: 60px;
  --footer-height: 60px;

  p {
    color: var(--color-secondary);
  }
}

/* PaperMod card styles */
@layer components {
  .card {
    background-color: var(--color-card);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: all 0.2s ease;

    p {
      color: var(--color-secondary);
    }
  }

  .header {
    height: var(--header-height);
  }

  .footer {
    height: var(--footer-height);
  }

  .main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }

  .tag {
    background-color: var(--color-muted);
    color: var(--color-primary);
  }
}
